.container_answer {
	.page_details {
		position: relative;
		height: 100%;
		width: 90%;
		margin: auto 5%;

		.page_label {
			user-select: none;
			position: relative;
			padding: 20px 0;
			text-align: justify;
			font-size: 1.4rem;
			line-height: 38px;
		}

		.page_bottom {
			display: flex;
			flex-direction: row;
			justify-content: left;
			align-items: center;
			text-align: left;
			width: 100%;
			margin: 20px auto;

			.page_type,
			.page_isRequired {
				position: relative;
				margin-right: 10px;
				padding: 3px 8px;
				font-size: 0.9rem;
				color: #707070;
				background-color: #fff;
				border: 1px solid #707070;
				border-radius: 0.175rem;
			}
		}

		.page_image {
			position: relative;
			height: 100%;
			user-select: none;
			background-color: transparent;
			perspective: 1000px; /* Remove this if you don't want the 3D effect */

			/* Do an horizontal flip when you move the mouse over the flip box container */
			.flipped {
				transform: rotateY(180deg);
			}

			/* This container is needed to position the front and back side */
			.card_inner {
				position: relative;
				height: 100%;
				width: 80%;
				margin: auto 10%;
				text-align: center;
				transform-style: preserve-3d;
				transition: transform 0.8s;
				box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
				border-radius: 6px;
				cursor: pointer;

				.card_image {
					display: none;
					height: 100%;
					width: 100%;
					backface-visibility: hidden;
				}

				.visible {
					display: block;
					transition: all ease-in-out 2s;
				}
			}
		}

		.page_options {
			position: relative;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			text-align: center;
			width: 100%;
			height: 100%;
			margin: 20px auto;
			user-select: none;

			.option_card {
				position: relative;
				width: 100%;
				margin-bottom: 30px;

				.card {
					position: relative;
					min-height: 100px;
					height: 100%;
					width: 100%;
					word-break: keep-all;
					white-space: normal;
					letter-spacing: 0.05em;
					font-size: 1.1rem;
					padding: 8px;
					border: rgba(0, 0, 0, 0.3) solid 1px;
					box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048);

					&:hover {
						cursor: pointer;
						border: 2px solid green;
						box-shadow: 0 1px 4px rgba(49, 43, 43, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
					}

					h4 {
						color: black;
						position: absolute;
						width: 90%;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
				}
				.selected {
					border: 2px solid green;
					box-shadow: 0 1px 4px rgba(131, 250, 131, 0.3) inset;
				}
			}

			.option_select {
				option,
				select {
					text-align: left;
					color: black;
				}
			}
		}

		.buttons_actions {
			user-select: none;
		}
	}
}

.page_count {
	user-select: none;
	position: relative;
	text-align: center;
	width: 10%;
	font-size: 1rem;
	line-height: 50px;
	background-color: #f7fafc;
	border: rgba(0, 0, 0, 0.5) solid 1px;
	border-bottom-left-radius: 40% 100%;
	border-bottom-right-radius: 40% 100%;
	border-top-left-radius: 40% 100%;
	border-top-right-radius: 40% 100%;
	box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
}

.end_page {
	position: absolute;
	z-index: 10;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	overflow: hidden !important;

	.card {
		position: absolute;
		top: 50%;
		left: 50%;
		height: 70%;
		width: 50%;
		transform: translate(-50%, -50%);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		border-radius: 30px;
		overflow: hidden;

		img {
			position: absolute;
			top: 2%;
			left: 50%;
			width: 40%;
			transform: translate(-50%, -2%);
			user-select: none;
		}

		h1 {
			position: absolute;
			bottom: 2%;
			left: 50%;
			transform: translateX(-50%);
			font-size: 28px;
			line-height: 40px;
			color: black;
		}
	}
}
