.btn-action {
	margin-bottom: 15px;
}

.btn_add_survey {
	position: relative;
	width: 100%;
	height: 220px;
	border: #0c85d0 dashed 2px;
	text-align: center;
	border-radius: 15px;
	font-weight: bold;
	font-size: 25px;
	color: #0c85d0;
	white-space: normal;

	.add_survey_text {
		position: absolute;
		width: 75%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.page_creator {
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;

	.creator_pages {
		transition: all 0.5s ease-in;
	}

	.creator_edit {
		opacity: 1;

		&.open {
			opacity: 0;
			display: none;
		}

		.card_creator_edit {
			transition-delay: 0.5s;
			opacity: 1;

			&.open {
				transition: opacity 1s linear;
				opacity: 0;
			}
		}
	}
}

.page_answer {
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
